@page
@model MovieApp.Pages.MoviePageModel
<div class="container">

    <h1>You will watch @Model.Movie.Title</h1>

    <video width="320" height="240" controls>
        <source src="@Model.MovieUri" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</div>